* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #333333;
  color: #fafafa;
  font-size: 16px;
  scroll-behavior: smooth;
}

.parent {
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 120px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  /*   */
}

.navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  font-size: 1rem;
}

.navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.navbar .menu li {
  padding: 2rem;
  margin-left: 1.3rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar .menu li a {
  color: white;
  text-decoration: none;
}

.navbar .menu li a:hover {
  color: white;
  text-decoration: underline;
}

#services {
  height: 95vh;
  width: 100vw;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fafafa;
  background-color: #3858e2;
}

.service-text {
  color: #cfcfcf;
  font-size: 1.2 em;
  text-align: center;
}

/* BUTTONS BUTTONS BUTTONS! */
.button-4 {
  background-color: transparent;
  border: 3px solid #ffffff;
  color: #ffffff;
  -webkit-transition: .3s;
  transition: .3s;
  width: 200px;
  height: 75px;
  font-size: 25px;
  margin-top: 50px;
}

.button-4:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .3s;
  transition: .3s;
}

/* BUTTON END */
/* TYPING ANIMATION */
.typing-wrapper {
  height: 20vh;
  /*This part is important for centering*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.typing-demo {
  width: 19ch;
  -webkit-animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
          animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  color: black;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.navbar .menu li a {
  margin-right: 4rem;
}

.wrapper {
  height: 95vh;
  width: 100vw;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fafafa;
  background-image: linear-gradient(0.6turn, #c858ac 0%, #3858e2 100%);
}

.introduction {
  max-width: 800px;
  text-align: center;
}

.introduction h1,
.introduction h2,
.introduction h3 {
  margin: 0;
}

.introduction .intro-text-base {
  font-size: 5em;
  padding-bottom: 1rem;
}

.introduction .intro-text-base .highlight {
  border-bottom: 2px solid #fafafa;
}

.introduction .intro-text-subline {
  font-size: 2em;
  padding-bottom: 1rem;
}

.introduction .sub-text {
  color: #cfcfcf;
  font-size: 1.2em;
}

@media (min-width: 768px) {
  .wave {
    margin-right: -100px;
    width: 30%;
  }
}

@media (max-width: 768px) {
  .wave {
    display: none;
  }
}

.contact-wrapper {
  padding: 3rem;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contact-wrapper .contact-form {
  max-width: 800px;
  margin: auto;
}

.contact-wrapper .contact-form h1, .contact-wrapper h2, .contact-wrapper h3, .contact-wrapper h4, .contact-wrapper h5, .contact-wrapper h6 {
  color: #c858ac;
}

.contact-wrapper .contact-form span, .contact-wrapper p {
  color: black;
}

.contact-wrapper label {
  color: black;
}

.contact-wrapper .contact-header {
  font-size: 4em;
  padding-bottom: 2rem;
}

.contact-wrapper form {
  padding-top: 2rem;
}

.contact-wrapper input[type="text"], .contact-wrapper input[type="mail"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}
/*# sourceMappingURL=index.css.map */