$base-bg: #333333;
$base-text: #fafafa;
$highlight: #c858ac;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background: $base-bg;
	color: $base-text;
	font-size: 16px;
	scroll-behavior: smooth;
}

.parent {
	background-color: rgba($color: #ffffff, $alpha: 0.1);
	position: fixed;
	top: 0;
	left: 0;
	margin: auto;
	width: 100%;
	height:120px;
}
.navbar {
	display: flex;
	justify-content: space-between;
	height: 100%;
	/*   */

	.logo {
		display: flex;
		align-items: center;
		padding: 1rem;
		font-size: 1rem;
	}

	.menu {
		display: flex;
		align-items: center;

		ul {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			list-style: none;
		}

		li {
			padding: 2rem;
			margin-left: 1.3rem;
			font-size: 1.3rem;
			font-weight: bold;
			text-transform:uppercase;

			a {
				color: white;
				text-decoration: none;
			}
			a:hover {
				color: white;
				text-decoration: underline;
			}
		}
	}
}

#services {
	height: 95vh;
	width: 100vw;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $base-text;
	background-color: #3858e2;
}

.service-text {
	color: rgb(207, 207, 207);
	font-size: 1.2 em;
	text-align: center;
}

/* BUTTONS BUTTONS BUTTONS! */ 
.button-4 {
	background-color: transparent;
	border: 3px solid #ffffff;
	color: #ffffff;
	transition: .3s;
	width: 200px;
	height:75px;
	font-size:25px;
	margin-top:50px;
  }
  .button-4:hover {
	transform: scale(1.2);
	transition: .3s;
  }

  
/* BUTTON END */


/* TYPING ANIMATION */
.typing-wrapper {
	height: 20vh;
	/*This part is important for centering*/
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
  }
  
  .typing-demo {
	width: 19ch;
	animation: typing 2s steps(22), blink .5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid;
	font-family: monospace;
	font-size: 2em;
	color: black;
  }
  
  @keyframes typing {
	from {
	  width: 0
	}
  }
	  
  @keyframes blink {
	50% {
	  border-color: transparent
	}
  }

.navbar .menu li a {
	margin-right:4rem;
}

.wrapper {
	height: 95vh;
	width: 100vw;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $base-text;
	background-image: linear-gradient(0.60turn, #c858ac	0%, #3858e2 100%);
}

.introduction {
	h1,
	h2,
	h3 {
		margin: 0;
	}
	max-width: 800px;
	text-align: center;
	.intro-text-base {
		.highlight {
			border-bottom: 2px solid $base-text;
		}
		font-size: 5em;
		padding-bottom: 1rem;
	}
	.intro-text-subline {
		font-size: 2em;
		padding-bottom: 1rem;
	}

	.sub-text {
		color: rgb(207, 207, 207);
		font-size: 1.2em;
	}
}


@media (min-width: 768px) {
	.wave {
		margin-right:-100px;
		width: 30%;
	}
}
@media (max-width: 768px) {
	.wave {
		display:none;
	}
}

.contact-wrapper {
	padding: 3rem;
	background-color: white;
	align-items: center;
	text-align: center;
	.contact-form {
		max-width: 800px;
		margin: auto;
	}
	.contact-form h1,h2,h3,h4,h5,h6 {
		color: #c858ac;
	}
	.contact-form span, p {
		color: black;
	}
	label {
		color: black;
	}

	.contact-header {
		font-size: 4em;
		padding-bottom: 2rem;
	}
	form {
		padding-top: 2rem;
	}

	input[type="text"], input[type="mail"] {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
	}
}
