$base-bg: #333333;
$base-text: #ffffff;
$highlight: #6F58CE;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: center;
}
html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background: $base-bg;
	color: $base-text;
	font-size: 16px;
	scroll-behavior: smooth;
}

.parent {
	background-color: rgba($color: #ffffff, $alpha: 0.1);
	position: fixed;
	top: 0;
	left: 0;
	margin: auto;
	width: 100%;
	height: 80px;
}
.navbar {
	display: flex;
	justify-content: space-between;
	height: 100%;
	/*   */

	.logo {
		display: flex;
		align-items: center;
		padding: 1rem;
		font-size: 1rem;
	}

	.menu {
		display: flex;
		align-items: center;

		ul {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			list-style: none;
		}

		li {
			padding: 2rem;
			margin-left: 1.3rem;
			font-size: 1.3rem;
			font-weight: bold;
			text-transform:uppercase;

			a {
				color: white;
				text-decoration: none;
			}
			a:hover {
				color: white;
				text-decoration: underline;
			}
		}
	}
}

.header {
	font-size: 4em;
	padding-bottom: 2rem;
}

.about-image {
	border: white 2px solid;
	float:left;
}

/* BUTTONS BUTTONS BUTTONS! */ 
.button-4 {
	background-color: transparent;
	border: 3px solid #ffffff;
	color: #ffffff;
	transition: .3s;
	width: 200px;
	height:75px;
	font-size:25px;
	margin-top:50px;
  }
  .button-4:hover {
	transform: scale(1.2);
	transition: .3s;
	cursor: pointer;
  }

  .button-work {
	background-color: #4bc051;
	color: white;
	border: none;
	transition: .3s;
	width: 200px;
	margin-left:50px;
	height:75px;
	font-size:25px;
	margin-top:50px;
  }
  .button-work:hover {
	  cursor: pointer;
	  transition: .32;
	  transform: scale(1.2);
  }
/* BUTTON END */


/* TYPING ANIMATION */
.typing-wrapper {
	height: 20vh;
	/*This part is important for centering*/
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
  }
  
  .typing-demo {
	width: 19ch;
	animation: typing 3s steps(22), blink .5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid;
	font-family: monospace;
	font-size: 2em;
	color: black;
  }
  
  @keyframes typing {
	from {
	  width: 0
	}
  }
	  
  @keyframes blink {
	50% {
	  border-color: transparent
	}
  }

.navbar .menu li a {
	margin-right:4rem;
}

.wrapper-introduction {
	height: 80vh;
	width: 100vw;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $base-text;
	background-image: linear-gradient(0.60turn, #c858ac	0%, #3858e2 100%);
}

.wrapper {
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height:80vh;
}
.introduction {
	h1,
	h2,
	h3 {
		margin: 0;
	}
	max-width: 800px;
	text-align: center;
	.intro-text-base {
		.highlight {
			border-bottom: 2px solid $base-text;
		}
		font-size: 5em;
		padding-bottom: 1rem;
	}
	.intro-text-subline {
		font-size: 2em;
		padding-bottom: 1rem;
	}

	.sub-text {
		color: #f1f1f1;
		font-size: 1.2em;
	}
}


@media (min-width: 768px) {
	.wave {
		margin-right:-100px;
		width: 30%;
	}
}
@media (max-width: 768px) {
	.wave {
		display:none;
	}
}


// PORTFOLIO PAGE // 
.portfolio-wrapper {
	width: 100%;
	height: 85vh;
	padding: 3rem;
	background-color: white;
	align-items: center;
	text-align: center;

	h1 {
		font-size: 4em;
		padding-bottom: 2rem;
		color: black;

	}
}
.sub-text-black {
	color: black;
	font-size: 1.2em;
}


	.portfolio-header {
		font-size: 4em;
		padding-bottom: 2rem;
	}


// ABOUT 

.about-wrapper {
	width: 100%;
	height: 85vh;
	padding: 3rem;
	background-color: #6A58CF;
	align-items: center;
	text-align: center; 
} 


// CONTACT PAGE 

.contact-wrapper {
	padding: 3rem;
	background-color: white;
	align-items: center;
	text-align: center;
	.contact-form {
		max-width: 800px;
		margin: auto;
	}
	.contact-form h1,h2,h3,h4,h5,h6 {
		color: black;
	}
	.contact-form span, p {
		color: black;
	}
	label {
		color: black;
	}

	form {
		padding-top: 2rem;
	}

	input[type="text"], input[type="mail"] {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
	}
}

.button-submit {
	background-color: #4bc051;
	color: white;
	border: none;
	width: 200px;
	height:75px;
	font-size:25px;
	margin-top:50px;
  }
  .button-submit:hover {
	  cursor: pointer;
  }


* {
	box-sizing: border-box;
  }
  
  /* Float four columns side by side */
  .column {
	float: left;
	width: 25%;
	padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  #services {
	  min-height: 30vh;
	width: 100vw;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $base-text;
	background-color: white;
}


.service-icons {
	width: 56px;
	height: 56px;
	text-align: center;

}

.service-text {
	color: black;
	font-size: 1.2 em;
	text-align: center;
}

  /* Style the counter cards */
  .card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
	padding: 16px;
	height:140px;
	text-align: center;
	background-color: #f1f1f1;
	border-color: black;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	  display: block;
	  margin-bottom: 20px;
	}
  }

  #footer {
	  height: 20vh;
	  width:100vh;
  }





#footer p, a {
	font-size: 16px;
	text-align: center;
	color: white;
	margin:auto;
}

#signature {
	padding-top:100px;
	padding-right:200px;
}

// PORTFOLIO GALLERY 

.gallery {
	display: flex;
	padding: 2px;
	transition: .3s;
	
	&:hover &__image {
		filter: grayscale(1);
	}
	
}

.img-portfolio {
	width: 150px;
	height:150px;
}

// QUOTE


  /* center the blockquote in the page */
  .blockquote-wrapper {
	 display: flex;
	 height: 60vh;
	 padding: 0 20px;
	 background-image: linear-gradient(0.60turn, #3858e2	0%, #c858ac 100%);
	 width: 100%;
	 align-items: center;
	 text-align: center; 
  }
  
  /* Blockquote main style */
  .blockquote {
	  position: relative;
	  font-family: 'Barlow Condensed', sans-serif;
	  max-width: 620px;
	  margin: 80px auto;
	  align-self: center;
  }
  
  /* Blockquote header */
  .blockquote h1 {
	  font-family: monospace;
	  position: relative; /* for pseudos */
	  color: #d3a5ca;
	  font-size: 2.8rem;
	  font-weight: normal;
	  line-height: 1;
	  margin: 0;
	  border: 2px solid #fff;
	  border: solid 2px;
	  border-radius:20px;
	  padding: 25px;
  }
  
  /* Blockquote right double quotes */
  .blockquote h1:after {
	  content:"";
	  position: absolute;
	  border: 2px solid #d3a5ca;
	  border-radius: 0 50px 0 0;
	  width: 60px;
	  height: 60px;
	  bottom: -62px;
	  left: 50px;
	  border-bottom: none;
	  border-left: none;
	  z-index: 3; 
  }
  
  
  /* increase header size after 600px */
  @media all and (min-width: 600px) {
	  .blockquote h1 {
		  font-size: 3rem;
		  line-height: 1.2;
	 }
  
  }
  
  /* Blockquote subheader */
  .blockquote h4 {
	  position: relative;
	  color: #ffffff;
	  font-size: 1.3rem;
	  font-weight: 400;
	  line-height: 1.2;
	  margin: 0;
	  padding-top: 15px;
	  z-index: 1;
	  margin-left:150px;
	  padding-left:12px;
  }
  
   
  .blockquote h4:first-letter {
	margin-left:-12px;
  }